 ul.a{
     list-style-type: square;
 }

h1{
    font-family: "Times New Roman";
    color: blue;
}
h2{
    font-family: 'Times New Roman';
    font-weight: bold;
    font-style: italic;
    color: chocolate;
    background-color: lemonchiffon;
   
}
p{
    text-align:inherit;
}
/* unvisited Link */
a:link{
color:blue;
}
/*visited Link*/
a:visited{
    color:blueviolet
}
/*mouse over link*/
a:hover{
    color:rosybrown
}
/*click on a link*/
a:active{
color: seagreen;
}